{% extends 'bootstrap/base.html' %}

{% block title %}
    Webex Toolbox
{% endblock %}

{% block navbar %}
    <nav class="navbar" style = "text-align: center;">   
        <div>Webex Toolbox: <a href="{{ url_for('logout') }}">Logout</a> <a href="{{ url_for('home') }}">Home</a></div>
    </nav>
{% endblock %}

{% block content %}
<style>
        
    table {
            border-collapse: collapse;
            width: 100%;
        }
        td {
            padding: 5px;
            height: 25px;
            vertical-align: top;
        }

</style>
    <div class="container" style = "width: 50%;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert" style = "text-align: center;">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}