{% extends 'bootstrap/base.html' %}

{% block title %}
    Webex Toolbox
{% endblock %}

{% block navbar %}
    <nav class="navbar" style="padding-top: 10pt;">
        <div class="row">
            <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6">
                <div class="col text-center">
                    <div class="btn-toolbar" style="justify-content: center; display: flex;">
                        <a href="{{ url_for('home') }}" style="margin-right:15px;" title="Home"><img src="{{ url_for('static', filename='icons8-a_home.png') }}" width="25" alt="Home"/></a>
                        <p></p>
                        <a href="{{ url_for('spaces') }}" style="margin-right:15px;" title="Spaces"><img src="{{ url_for('static', filename='icons8-group.png') }}" width="25" alt="Spaces"/></a>
                        <a href="{{ url_for('settings') }}" style="margin-right:15px;" title="Settings"><img src="{{ url_for('static', filename='icons8-settings.png') }}" width="25" alt="Settings"/></a>
                        <a href="{{ url_for('logout') }}" title="Logout"><img src="{{ url_for('static', filename='icons8-logout_rounded_up.png') }}" width="25" alt="Logout"/></a>          
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-md-2 col-lg-3"></div>
        </div>
    </nav>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<style>
        
    table {
            border-collapse: collapse;
            width: 100%;
        }
        td {
            padding: 5px;
            height: 20px;
            vertical-align: top;
        }

        body{
        font-family: 'Raleway', sans-serif;
    }

    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 45px;
        height: 45px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin:auto;
        left:0;
        right:0;
        top:0;
        bottom:0;
        position:fixed;
        }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }

</style>
<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert" style = "text-align: center;">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
</div>
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}