{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Active Members</h4>
            </div>
            <div class="modal-body">
                <div id="spinner" class="loader" align="center"></div>
                <p id="warning"></p>
                <ul id="content" class="list-group"></ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6">
            <h2 style = "text-align: center; padding-bottom: 10pt;">Delete spaces</h2>
            <p></p>
            <div class="col text-center">
                <button type="button" id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style = "align-content : center;">View Members</button>
            </div>
            <p></p>
        </div>
        <div class="col-xs-3 col-md-5"></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6"> 
                <input type="text" class="form-control" id="filter" placeholder='Enter a filter...'>
                <p></p>
                <button class='btn btn-primary btn-block' id="filter_btn" onclick="myFn()">Apply Filter</button>
                <p></p>
            </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
    <div class="row"></div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6"> 
            <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                <dl>
                    {{ render_field(form.space, size=15) }}
                </dl>
            <p><input type=submit class='btn btn-danger btn-block' value="Delete Spaces"></p>
            </form>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
</div>

<script src="{{ url_for("static", filename="js/spaces.js") }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}