{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6">
            <h2 style = "text-align: center;">Delete messages</h2>
            <p></p>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="filter" placeholder='Enter a filter...'>
                <p></p>
                <button class='btn btn-primary btn-block' id="filter_btn" onclick="myFn()">Apply Filter</button>
                <p></p>
                <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                {{ render_field(form.space) }}
            </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
    <div class="row"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-10"> 
                <dl>
                    {{ render_field(form.messages, size=15) }}
                </dl>
            <p><input id="submit" type=submit class='btn btn-danger btn-block' value="Delete Messages"></p>
            </form>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    var msgs_select = document.getElementById("messages");
    if (msgs_select.innerHTML == ""){
            msgs_select.innerHTML = '<option value="' + "1" + '">' + "No messages for this space..." + '</option>';
            document.getElementById("submit").disabled=true;
        }
});
</script>
<script>
var msgs_select = document.getElementById("messages");
var space = document.getElementById("space");
var PATTERN = document.getElementById("filter");
var filter_btn = document.getElementById("filter_btn");

function myFn(){
    if (filter_btn.innerHTML == "Apply Filter"){
        var myOptions = space.options;
        var numberofitems = myOptions.length;
        var optionHTML = '';
        var i;
        for (i=1;i<=numberofitems;i++){
            var Option_Text = (myOptions[i-1].innerText);
            var myOptionValue = myOptions[i-1].value;
            if (Option_Text.includes(PATTERN.value)){
                optionHTML += '<option value="' + myOptionValue + '">' + Option_Text + '</option>';
            }
        }
        space.innerHTML = optionHTML;
        filter_btn.innerHTML = "Remove Filter";
        filter_btn.setAttribute("class", "btn btn-warning btn-block");
        update_messages();
    }
    else {
        window.location.reload()
    }
}

function update_messages() {
    msgs_select.innerHTML = '<option value="' + "1" + '">' + "Retrieving messages..." + '</option>';
    spaceId = space.value;
    fetch('/messages/' + spaceId).then(function(response) {
        response.json().then(function(data) {
            var optionHTML = '';
            for (var msg of data.messages) {
                optionHTML += '<option value="' + msg.id + '">' + msg.msgtxt + '</option>';
            }
            if (optionHTML == ""){
                msgs_select.innerHTML = '<option value="' + "1" + '">' + "No messages for this space..." + '</option>';
                document.getElementById("submit").disabled=true;
            }
            else {
                msgs_select.innerHTML = optionHTML;
                document.getElementById("submit").disabled=false;
            }
        })
    });
}

space.onchange = function()  {
    update_messages();
}
</script>
{% endblock %}