<div class="container">
  <p></p>
  <div class="row">
      <div class="col-md-4 text-center" style="padding: 10pt;">
          <a href="{{ url_for('spaces') }}" title="Spaces"><img src="{{ url_for('static', filename='icons8-group.png') }}" width="45" alt="Spaces"/></a>
        <h5 class="text-center"><strong>Manage Spaces</strong><br><br><i>manage your spaces</i></h5>
        <p></p>
      </div>
      <div class="col-md-4 text-center" style="padding: 10pt;">
          <a href="{{ url_for('ooomessage') }}" title="Out of Office"><img src="{{ url_for('static', filename='icons8-exit_sign.png') }}" width="45" alt="Out of Office"/></a>
        <h5 class="text-center"><strong>Out of Office</strong><br><br><i>manage your out of office settings</i></h5>
        <p></p>
      </div>
      <div class="col-md-4 text-center" style="padding: 10pt;">
          <a href="{{ url_for('meetings') }}" title="Webex Reports"><img src="{{ url_for('static', filename='icons8-report.png') }}" width="45" alt="Webex Reports"/></a>
        <h5 class="text-center"><strong>Webex Reports</strong><br><br><i>view reports for webex meetings</i></h5>
        <p></p>
      </div>          
  </div>
</div>