<div class="container-fluid">
    <div class="btn-group-vertical" style="width: 50%;">
      <a href="{{ url_for('ooomessage') }}" class="btn btn-primary btn-block" role="button">Manage Out of Office Message</a>
      <p></p>
      <a  href="{{ url_for('selectspace') }}" class="btn btn-primary btn-block" role="button">Add people to a space</a>
      <p></p>
      <a href="{{ url_for('addspace') }}" class="btn btn-primary btn-block" role="button">Create a new space and add people</a>
      <p></p>
      <a href="{{ url_for('deletespace') }}" class="btn btn-primary btn-block" role="button">Delete some of your spaces</a>   
      <p></p>
      <a href="{{ url_for('deletemessages') }}" class="btn btn-primary btn-block" role="button">Delete some of your messages</a>
      <p></p>
      <a href="{{ url_for('meetings') }}" class="btn btn-primary btn-block" role="button">View Webex Meetings Reports</a>
    </div>
</div>