{% extends 'bootstrap/base.html' %}

{% block title %}
    Webex Toolbox
{% endblock %}

{% block navbar %}
    <nav class="navbar">   
        <div style = "text-align: center;">Webex Toolbox: <a href="{{ url_for('logout') }}">Logout</a> <a href="{{ url_for('home') }}">Home</a></div>
    </nav>
{% endblock %}

{% block content %}
<style>
    table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
    padding: 5px;
    height: 50px;
    vertical-align: center;
    text-align: center;
    }

</style>
    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}