{% extends "index-head.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container" align="center">
  <div class="row">
    <div class="col-xs-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-10 col-md-8 col-lg-6">   
      <h2>Login to Webex Toolbox</h2>
      <hr>
      <p>
        <a href="https://api.ciscospark.com/v1/authorize?client_id={{client_ID}}&response_type=code&redirect_uri={{redirect_URI}}&scope=spark%3Amemberships_read%20spark%3Akms%20spark%3Apeople_read%20spark%3Arooms_read%20spark%3Amessages_write%20spark%3Amemberships_write%20spark%3Arooms_write%20spark%3Amessages_read&state=Toolbox" class="btn btn-primary btn-block" role="button">Login</a>
      </p>
    </div>
    <div class="col-xs-1 col-md-2 col-lg-3"></div>
  </div>
</div>
{% endblock %}


