{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}
{% from "_render_field_no_label.html" import render_field_no_label %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Active Members</h4>
            </div>
            <div class="modal-body">
                <div id="spinner" class="loader" align="center"></div>
                <p id="warning"></p>
                <ul id="content" class="list-group"></ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6"> 
                <h2 style = "text-align: center; padding: 10pt;">Manage a space</h2>
                <p></p>
            </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-5"></div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="btn-group-vertical" style = "text-align: center;">
                    <button type="button" id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style = "align-content : center;">View Members</button>
                    <p></p>
                    <button class='btn btn-primary' onclick="exportTableToCSV('report.csv')">Download to CSV</button>
                    <p></p>
                </div>
            </div>
        <div class="col-xs-3 col-md-5"></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6"> 
                <input type="text" class="form-control" id="filter" placeholder='Enter a filter...'>
                <p></p>
                <button class='btn btn-primary btn-block' id="filter_btn" onclick="myFn()">Apply Filter</button>
                <p></p>
            </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
    <div class="row"></div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6"> 
            <form action="" method="post" class="form" role="form" id="myForm">
                {{ form.csrf_token() }}
                <dl>
                    {{ render_field(form.space) }}
                    {{ render_field(form.message, placeholder='(optional) Enter a message for the new space members...') }}
                </dl>
                <div data-toggle="fieldset" id="email-fieldset">
                    <button type="button" class="btn btn-primary" data-toggle="fieldset-add-row"
                                                    data-target="#email-fieldset">Add row</button>
                    <p></p>
                    <table>
                        <col width="95%">
                        <col width="5%">
            
                        {% for email in form.emails %}
                            <tr data-toggle="fieldset-entry">
                                <td>{{ render_field_no_label(email.email_address, placeholder='Enter an email address...') }}</td>
                                <td><button type="button" class="btn btn-primary btn-block" data-toggle="fieldset-remove-row" id="email-{{loop.index0}}-remove">-</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p></p>
                </div>
                {{ form.hidden_tag() }}
                <p><input type=submit class='btn btn-primary btn-block' value="Add New Users"></p>
            </form>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
var space = document.getElementById("space");

function downloadCSV(csv, filename) {
var csvFile;
var downloadLink;
csvFile = new Blob([csv], {type: "text/csv"});
downloadLink = document.createElement("a");
downloadLink.download = filename;
downloadLink.href = window.URL.createObjectURL(csvFile);
downloadLink.style.display = "none";
document.body.appendChild(downloadLink);
downloadLink.click();
}

function exportTableToCSV(filename) {
    var csv = [];
    var row = [];
    row.push("Name,Email");
    csv.push(row.join(","));
    spaceId = space.value;    
    fetch('/member_details/' + spaceId).then(function(response) {
        response.json().then(function(data) {
            for (var user of data.members) {
                var row = [];
                row.push((user.DisplayName) + "," + (user.Email));
                csv.push(row.join(","));
            }
        downloadCSV(csv.join("\n"), filename);
        })
    });
}
</script>
<script src="{{ url_for("static", filename="js/spaces.js") }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="{{ url_for("static", filename="js/page.js") }}"></script>
{% endblock %}