{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}

{% block app_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>                       
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 id="title-text" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="message-text"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="container" style="width: 50%;">
    <h2 style = "text-align: center; ">Out of Office Assistant</h2>
    <hr>
    <p></p>
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <button type="button" id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style = "align-content : center;">Preview Response</button>
    </div>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        {{ render_field(form.message) }}
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        {{ render_field(form.end_date, placeholder='YYYY-MM-DD') }}
        {{form.OOO_enabled}} {{form.OOO_enabled.label}}
        {{form.Direct}} {{form.Direct.label}}
        {{form.Mentions}} {{form.Mentions.label}}
        <button type="button" id="help" class="btn btn-link" data-toggle="modal" data-target="#myModal"><img src="{{ url_for('static', filename='help-icon-17020.png') }}" style="width: 15pt"></button>
    <p></p>
    <p><input type=submit class='btn btn-primary btn-block' value="Submit"></p>
    {{form.TZ_Offset}}
    <p type=hidden></p>
    </form>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datepicker();
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var d = new Date();
            var n = d.getTimezoneOffset();
            console.log(n);
            document.getElementById("TZ_Offset").value = n;
        });
    </script>
    <script>
        var btn = document.getElementById("myBtn");
        var btn1 = document.getElementById("help");
        var message_field = document.getElementById("message");
        var date_field = document.getElementById("end_date");
        var message_text = document.getElementById("message-text");
        var title_text = document.getElementById("title-text");
        
        btn.onclick = function() {
            title_text.innerHTML = "Preview Response"
            message_value = message_field.value;
            date_value = date_field.value;
            if(message_value.length == 0){
                message_text.innerHTML = "OOO Assistant: I'm out of the office until " + date_value;
                }
            else {
                message_text.innerHTML = "OOO Assistant: " + message_value + " until " + date_value;    
                }
        }

        btn1.onclick = function() {
            title_text.innerHTML = "Help";
            message_text.innerHTML = "<b>Enabled:</b> Activates the Out of Office Assistant.<br><b>Direct:</b> Responds to Direct messages.<br><b>Mentions:</b> Responds to messages where you are @Mentioned.<br><br><b>NOTE:</b> If the Out of Office Assistant is disabled but Direct and/or Mentions is active <i>and</i> your Webex Teams status is <b>Out Of Office</b> a generic response will be sent as follows: <b>I'm out of the office.</b>";
            get_TZOffset();
        }
    </script>
{% endblock %}