{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 id="title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="spinner" class="loader" align="center"></div>
                <p id="warning"></p>
                <ul id="content" class="list-group"></ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6 text-center">
            <h2 align="center">Settings</h2>
            <p></p>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6 text-center">
            <div class="btn-group-vertical" style="padding: 5px;">
                <button type="button" id="view" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style = "align-content : center;">View Webhooks</button>
                <p></p>
                <button type="button" id="delete" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style = "align-content : center;">Delete Webhooks</button>
                <p></p>
            </div>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6">
        <h4>Webex Reports</h4>
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
            <dl>
                {{ render_field(form.site_name) }}
                {{ render_field(form.user_email) }}
                {{ render_field(form.user_pwd) }}
            </dl>
            <p></p>
            <h4>Space Settings
                <button type="button" id="help" class="btn btn-link" data-toggle="modal" data-target="#myModal"><img src="{{ url_for('static', filename='icons8-help.png') }}" style="width: 15pt;"></button>
            </h4>
            <dl>
                {{ render_field(form.sortBy) }}
                {{ render_field(form.maxResults) }}
            </dl>
            <p><input type=submit class='btn btn-primary btn-block' value="Submit"></p>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div>
</div>
<script>
var btn = document.getElementById("view");
var btn1 = document.getElementById("delete");
var btn_help = document.getElementById("help");
var content = document.getElementById("content");
var title = document.getElementById("title");
var warning = document.getElementById("warning");

function getwebhooks(action) {
    document.getElementById("spinner").style.display = "";
    while(content.hasChildNodes())
        {
        content.removeChild(content.firstChild);
        }  
    fetch('/webhooks/' + action).then(function(response) {
        response.json().then(function(data) {
            document.getElementById("spinner").style.display = "none";
            if (data.webhooks.length == 0){
                warning.innerHTML = "There are no active webhooks.";
                }
            else {
                for (var webhook of data.webhooks) {
                    var listItem = document.createElement('li');
                    listItem.setAttribute('class','list-group-item');
                    if (action == "view"){
                        listItem.innerHTML = (webhook.webhook + " Webhook - Created " + moment(webhook.created).calendar());
                        }
                    else {
                        listItem.innerHTML = (webhook.webhook + " - " + webhook.result);
                    }
                    content.appendChild(listItem);
                }
            }  
        })
    });
}

btn.onclick = function() {
    title.innerHTML = 'Active Webhooks';
    getwebhooks("view");
}

btn1.onclick = function() {
    title.innerHTML = 'Deleted Webhooks';
    getwebhooks("delete");
}

btn_help.onclick = function() {
    document.getElementById("spinner").style.display = "none";
    title.innerHTML = "Help";
    warning.innerHTML = "<b>Max Results:</b> Enter the maximum number of spaces to retrieve. To retrieve all spaces use the default value of 0.<br><br><b>NOTE:</b> If you have a very large number of spaces try setting <b>Max Results</b> to 100 and <b>Sort By</b> to Last Activity.";
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
